<main class="container-fluid">
  <div class="col-md-6">
    <h1>DC Hoods</h1>
    <select class="dropdown">
      <option id="none">None</option>
      <option id="metros">Metros</option>
      <option id="libraries">Libraries</option>
      <option id="grocers">Grocers</option>
    </select>
    <div class="chart"></div>
  </div>
  <div class="col-md-6 map">
    <div id="map"></div>
  </div>
</main>
