<main>
  <div class="map">
    <div id="map"></div>
  </div>
  <div class="content">
    <h1>DC Hoods</h1>
    <select>
      <option value="none">None</option>
      <option value="metros">Metros</option>
    </select>
  </div>
</main>
