<main class="container-fluid">
  <div class="col-md-6">
    <h1>DC Hoods</h1>
    <div class="dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pick a Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li id="none">None</li>
        <li id="metros">Metros</li>
        <li id="libraries">Libraries</li>
        <li id="grocers">Grocers</li>
      </ul>
    </div>
    <select class="menu">
      <option id="none">None</option>
      <option id="metros">Metros</option>
      <option id="libraries">Libraries</option>
      <option id="grocers">Grocers</option>
    </select>
    <div class="chart"></div>
  </div>
  <div class="col-md-6 map">
    <div id="map"></div>
  </div>
</main>
