<main>
  <div class="map">
    <div id="map"></div>
  </div>
  <div class="content">
    <h1>DC Hoods</h1>
    <select class="dropdown">
      <option id="none">None</option>
      <option id="metros">Metros</option>
    </select>
  </div>
</main>
