<div class="container-fluid logo">
  <p class="fit-text animated pulse">DC Hoods</p>
</div>
<main class="container-fluid">
  <div class="col-md-6">
    <h1>DC Hoods</h1>
    <div class="dropdown">
      <button id="dLabel" class=" dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pick a Category
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a role="menuitem" class="category" id="none">None</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="bike_shares">Bike Shares</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="charter_schools">Charter Schools</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="childcare_facilities">Childcare Facilities</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="embassies">Embassies</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="grocers">Grocery Stores</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="libraries">Libraries</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="metros">Metros</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="nightclubs">Nightclubs</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="pharmacies">Pharmacies</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="place_of_worships">Places of Worship</a></li>
        <li role="presentation"><a role="menuitem" class="category" id="police_stations">Police Stations</a></li>
      </ul>
    </div>
    <div class="chart"></div>
  </div>
  <div class="col-md-6 map">
    <div id="map"></div>
  </div>
</main>
