* {
  box-sizing: border-box;
}

body {
  background: #424242;
  font-family: 'Dosis', sans-serif;
  color: #00DEC9;
  text-align: center;
  height: 100vh;
}

h1, h2 {
  text-shadow: .3rem .3rem .3rem #212121;
}

h2 {
  text-transform: capitalize;
}

.container-fluid {
  padding: 0;
}

.logo {
  height: 100%;
}

.logo p {
  position: relative;
  top: 25%;
  text-shadow: .5rem .5rem 1rem #212121;
  font-size: 10vw;
}

.col-md-6 {
  padding: 0 2rem;
  margin: 0;
}

.dropdown {
  color: #424242;
  display: inline-block;
  margin: 1rem;
  box-shadow: .3rem .3rem .3rem #212121;
}

.bar {
  height: 2rem;
  margin: .5rem 0;
  padding: 0 1rem;
  text-align: right;
  color: #212121;
  box-shadow: .3rem .3rem .3rem #2E2E2E;
  background: #7a7a7a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #545454, #7a7a7a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #545454, #7a7a7a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #545454, #7a7a7a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #545454, #7a7a7a); /* Standard syntax */
  text-transform: capitalize;
}

.leaflet-popup-content {
  color: #424242;
}

#map {
  height: 100vh;
}

.custom {
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 2;
}
