* {
  box-sizing: border-box;
}

body {
  background: #424242;
  font-family: 'Dosis', sans-serif;
  color: #DBE4EF;
  text-align: center;
  height: 100vh;
}

main {
  visibility: hidden;
}

.container-fluid {
  padding: 0;
}

.logo {
  height: 100%;
}

.logo p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-md-6 {
  padding: 0 2rem;
  margin: 0;
}

.dropdown {
  color: #424242;
  display: inline-block;
  margin: 1rem;
}

.bar {
  height: 2rem;
  margin: .5rem 0;
  padding: 0 1rem;
  text-align: right;
}

#map {
  height: 100vh;
}
